{{ define "main" }}

<section class="tag-info">
  <h1 class="title">{{ .Title }}</h1>
</section>

<section class="section article-list">
  <ul class="article-list without-list-style">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
    {{ range $paginator.Pages.ByLastmod }}
    <li>
      <time datetime="{{ time .Date }}">{{ .Date.Format "2006-01-02" }}</time>
      <span class="separator">:</span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</section>

{{ end }}
