{{ define "main" }}

<section class="article-header" xmlns="http://www.w3.org/1999/html">
  <h1 class="article-title">{{ .Title }}</h1>

  <div class="article-info">
    <time class="article-publish-time" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    [Обновлено: <time class="artile-update-time" datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time>]
    ::
    <span class="article-author">{{ .Params.Author }}</span>
  </div>

  {{ if .Params.tags }}
  <div class="article-tags">
    <ul class="article-tag-list is-horizontal-list">
      {{ range .Params.tags }}
      <li><a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</section>

{{ if .Params.tableOfContentsEnable }}
  <section class="article-table-of-content">
    <h2>Содержание</h2>
    {{ .TableOfContents }}
  </section>
{{ end }}

<section class='article-content'>
  {{ $s := .RawContent }}
  {{ $s :=  delimit (slice "\n" $s "\n") "" }}

  {{ $s :=  $s | replaceRE "\n(#+) " "\n#$1 " }}

  {{ $s :=  $s | replaceRE "\n::: *\n" "\n\n«MDBLOCK-END»\n\n" }}
  {{ $s :=  $s | replaceRE "\n::: ([a-z0-9 ]*)\n" "\n\n«MDBLOCK-class-$1»\n\n" }}

  {{ $s :=  $s | replaceRE "\n&&& *\n" "\n\n«DETAILS-BLOCK-END»\n\n" }}
  {{ $s :=  $s | replaceRE "\n&&& ([a-z0-9 ]*)\n" "\n\n«DETAILS-BLOCK-summary='$1»\n\n" }}

  {{ $s :=  $s | replaceRE "\n([$][$].*[$][$])" "\n\n<div class='mathFormat'>$1</div>\n\n"}}
  {{ $s :=  $s | replaceRE "\n[`]([$].*[$])[`]" "\n\n<span class='mathFormat'>$1</div>\n\n"}}

  {{ $s :=  $s | replaceRE "([^`]):(fa-[a-z0-9 -]*):" "$1<i class='fa $2' aria-hidden='true'></i>" }}

  {{ $s :=  $s | markdownify }}
  {{ $s := $s | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="title-anchor" ariaLabel="Anchor">&#8983;</a> ${3}` }}
  {{ $s :=  $s | replaceRE "<p>«MDBLOCK-END»</p>" "</section>"  }}
  {{ $s :=  $s | replaceRE "<p>«MDBLOCK-class-([^»]*)»</p>" "<section class='alert $1'>" }}

  {{ $s :=  $s | replaceRE "<p>«DETAILS-BLOCK-END»</p>" "</details>"  }}
  {{ $s :=  $s | replaceRE "<p>«DETAILS-BLOCK-summary='([^'»]*)»</p>" "<details><summary>$1</summary>" }}

  {{ $s :=  $s | safeHTML }}
  {{- $s -}}
</section>

{{ if .Params.commentsEnable }}
  <section class="comments">
    <script src="https://utteranc.es/client.js"
            repo="mephistorine/blog"
            issue-term="pathname"
            label="Комментарий"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
  </section>
{{ end }}

{{ end }}
