{{ define "main" }}

<section class="section articles-section">
  <h2 class="section-title">Статьи</h2>

  <section class="section article-list">
    <h3 class="section-title">Актуальное</h3>
    <ul class="article-list without-list-style">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
      {{ range $paginator.Pages.ByLastmod }}
        <li>
          <time datetime="{{ time .Date }}">{{ .Date.Format "2006-01-02" }}</time>
          <span class="separator">:</span>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </section>

  <section class="section tags">
    <h3 class="section-title">Теги</h3>
    <ul class="tag-list is-horizontal-list">
      {{ range .Site.Taxonomies.tags.Alphabetical }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <!-- .Count --> </li>
      {{ end }}
    </ul>
  </section>
</section>

<section class="section talks">
  <h2 class="section-title">Доклады</h2>

  <ul class="talk-list is-horizontal-list without-list-style">
    <li>
      <time>2010-01-28</time>
      <span>:</span>
      <a href="#">Семь будущих чудес CSS</a>
    </li>
  </ul>
</section>

<section class="section projects-section">
  <h2 class="section-title">Проекты</h2>

  <ul class="project-list without-list-style">
    <li>
      <a href="#">RxJS RU</a>:
      <span>Перевод документации по RxJS на русский язык</span>
    </li>

    <li>
      <a href="#">Cataclysm</a>:
      <span>Typescript library for interactive maps</span>
    </li>
  </ul>
</section>

{{ end }}