{{ define "main" }}

<section class="section articles-section">
  <h2 class="section-title">Статьи</h2>

  <section class="section article-list">
    <h3 class="section-title">Актуальное</h3>
    <ul class="article-list without-list-style">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
      {{ range $paginator.Pages.ByLastmod }}
        <li>
          <time datetime="{{ time .Date }}">{{ .Date.Format "2006-01-02" }}</time>
          <span class="separator">:</span>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </section>

  <section class="section tags">
    <h3 class="section-title">Теги</h3>
    <ul class="tag-list is-horizontal-list">
      {{ range .Site.Taxonomies.tags.Alphabetical }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <!-- .Count --> </li>
      {{ end }}
    </ul>
  </section>
</section>

<section class="section talks">
  <h2 class="section-title">Доклады</h2>

  <ul class="talk-list is-horizontal-list without-list-style">
    {{ range $.Site.Data.talks }}
      {{ $talk := . }}
      <li>
        <time datetime="{{ $talk.date }}">{{ $talk.date }}</time>
        <span>:</span>
        <a href="/talks/#{{ $talk.id }}">{{ $talk.title }}</a>
      </li>
    {{ end }}
  </ul>
</section>

<section class="section projects-section">
  <h2 class="section-title">Проекты</h2>

  <ul class="project-list without-list-style">
    {{ range $.Site.Data.projects }}
      {{ $project := . }}
      <li>
        <a href="{{ $project.url }}">{{ $project.name }}</a>:
        <span>{{ $project.description }}</span>
      </li>
    {{ end }}
  </ul>
</section>

{{ end }}