---
layout: layouts/base.njk
title: 404 - Страница не найдена
permalink: /404.html
---

<section>
  <h1 class="title">404 - Страница не найдена</h1>
</section>

Вернуться на <a href="{{ '/' | url }}">главную страницу</a>
