---
layout: layouts/base.njk
permalink: /archive/
---

<section>
  <h1 class="title">Архив</h1>
</section>

{% set articles = collections.articles | reverse %}
<section class="section article-list">
  {% include "article-list.component.njk" %}
</section>
