---
layout: layouts/base.njk
---

<section class="section articles-section">
  <h2 class="section-title">Статьи</h2>

  <section class="section article-list">
    <h3 class="section-title">Актуальное</h3>

    {% set articles = collections.articles | head(-3) | reverse %}
    {% include "article-list.component.njk" %}
  </section>
</section>
